{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
$.get($SCRIPT_ROOT + '/getx', 'name=lol', function(data) {console.log(data);});
var mylist = [];
var n = $('#titles').length;
setInterval(function() {
        $.getJSON($SCRIPT_ROOT + '/test', {},
            function(data) {
                mylist=data
            });

        $(document).ready(function() {
            console.log(n);
            for (var i = mylist.length-1; i > -1; i--) {
                if ( n < mylist.length) {
                $("#btitle").after('<h2 id="titles">' + mylist[i][0] + '</h2><p>' + mylist[i][1] + '</p>');
                    n++;
                }
            }
            });
        },1000);
</script>
    {% if session.logged_in %}
    <ul class=entries>
        <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
            <dl>
                <dt>Title:
                <dd><input type=text size=30 name=title>
                <dt>Text:
                <dd><textarea name=text rows=5 cols=40></textarea>
                <dd><input id="share" type=submit value=Share>
            </dl>
        </form>
    </ul>
    {% endif %}
        <h2 id="btitle"></h2>
{% endblock %}
