{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
var mylist = [];
setInterval(function() {
        $.getJSON($SCRIPT_ROOT + '/test', {},
            function(data) {
                mylist=data
            });

        function makeUL(array) {
            var list = document.createElement('ul');
            for (var i=0; i<array.length; i++) {
                var item = document.createElement('li');
                item.appendChild(document.createTextNode(array[i][0]));
                list.appendChild(item);
            }
            return list;
        }
        document.getElementById('btitle').appendChild(makeUL(mylist));
        },5000);
</script>
    {% if session.logged_in %}
    <ul class=entries>
        <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
            <dl>
                <dt>Title:
                <dd><input type=text size=30 name=title>
                <dt>Text:
                <dd><textarea name=text rows=5 cols=40></textarea>
                <dd><input id="share" type=submit value=Share>
            </dl>
        </form>
    </ul>
    {% endif %}
    <ul class=entries>
        <h2 id="btitle"></h2><p id="btext"></p>
    </ul>
{% endblock %}
